<%= @message if @message %>

<%="Tags: "%><% @question.tags.each do |t| %>
	<a href="/tags/<%=t.id%>"><%= t.content + " | " %></a>
<% end %>

<h2><%=@question.question%>
	<% if logged_in? and @question.user_id == session[:id] %>
		<a href="/question/<%= @question.id %>/edit">Edit</a>
<% end %>
</h2>

<% @question.answers.each do |a| %>
	<li> 
	<%= a.answer %> 
	<% if logged_in? and a.user_id == session[:id] %>
		<a href="/answer/<%= a.id %>/edit">Edit</a>
	<% end %>
	</li>
	<div class="upvote">
			<form action="/answer/<%=a.id%>/upvote" method="post">
				<input type="submit" value="Upvote | <%= a.count_upvotes %>">
			</form>
		</div>
		<div class="downvote">
			<form action="/answer/<%=a.id%>/downvote" method="post">
				<input type="submit" value="Downvote | <%= a.count_downvotes %>">
			</form>
		</div>
<% end %>

<div class="answer">
	<form action="/answer" method="post">
		<input type="text" name="answer[answer]" placeholder="Your Answer Here">
		<input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
		<input type="submit" value="Answer">
	</form>
</div>

<div class="add_tag">
	<form method="post" action="/questions/<%=@question.id%>/tags">
		<input type="text" name="tag[content]" placeholder="What's your tag">
		<input type="submit" value="Add Tag">
	</form>
</div>



















