
	<form action="/question" method="post">
		<input type="text" name="question[question]" placeholder="Ask Question on Quora">
		<input type="submit" value="Ask Question">
	</form>


<% if @questions != nil %>
	<% @questions.each do |q| %>
		<li> 
		<a href="/question/<%= q.id %>"><%= q.question %></a>
		</li>

			<form action="/question/<%=q.id%>/upvote" method="post">
				<input type="submit" value="Upvote | <%= q.count_upvotes %>">
			</form>

			<form action="/question/<%=q.id%>/downvote" method="post">
				<input type="submit" value="Downvote | <%= q.count_downvotes %>">
			</form>

		<%= q.answers.last.answer if q.answers.last %>
	<% end %>
<% end %>

<%= will_paginate @questions %>




